<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HSCK98 | Error</title>
  <link rel="stylesheet" href="styles/error.css">
</head>
<body>
  <div class="error"><%= error %></div>
</body>
</html>