.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse {
  justify-content: end;
}

.navbar-custom {
  background-color: #e3f2fd;
}

.navbar > div {
  margin: 0 30px;
}

.navbar-toggler {
  margin: 0 30px;
}

.collapse a {
  margin-left: 1rem;
}